﻿/*
SAMPLE CODE NOTICE

THIS SAMPLE CODE IS MADE AVAILABLE AS IS.  MICROSOFT MAKES NO WARRANTIES, WHETHER EXPRESS OR IMPLIED, 
OF FITNESS FOR A PARTICULAR PURPOSE, OF ACCURACY OR COMPLETENESS OF RESPONSES, OF RESULTS, OR CONDITIONS OF MERCHANTABILITY.  
THE ENTIRE RISK OF THE USE OR THE RESULTS FROM THE USE OF THIS SAMPLE CODE REMAINS WITH THE USER.  
NO TECHNICAL SUPPORT IS PROVIDED.  YOU MAY NOT DISTRIBUTE THIS CODE UNLESS YOU HAVE A LICENSE AGREEMENT WITH MICROSOFT THAT ALLOWS YOU TO DO SO.
*/

body {
    font-size: x-large;
    font-family: "Segoe UI", "Segoe", Tahoma, Helvetica, Arial, sans-serif, "Droid Sans";
    margin: 0;
    padding: 0;
}


/*.dollars:before { content:'$'; }*/

/*NS Developed by muthait for AFM_TFS_40686 dated 06/27/2014*/
.topstretchbar {
    font-size: 13px;
    background-color: rgb(234, 234, 234);
    width: 100%;
    height: 24px;
    padding-top: 6px;
    color: rgb(102, 102, 102);
}

#searcharea {
    position: absolute;
    right: 0;
    bottom: 30px;

}

header a {
    text-decoration: none;
    color: dodgerblue;
}

header a:hover {
    color: #000000;
}


#loginarea {
    position: absolute;
    font-size: large;
    right: 0px;
    top: 10px;
}

#cartarea {
    position: absolute;
    font-size: large;
    right: 0px;
    top: 50px;
}

#loginarea span, #cartarea span {
    position: relative;
    left: auto;
    top: auto;
}
.topstretchbar a {
    text-decoration: none;
    color: dodgerblue;
}

.msax-PaddingRight5 {
    padding-right: 5px;
}

footer {
    width:100%;
	background: grey;
    bottom: 0;
    color: white;
    font-size: x-large;
    height: 80px;
    left: 0;
    margin-top: 100px;
    position: relative;
    text-transform: uppercase;
}

select {
    font-size: x-large;
}

footer > div {
    padding-top: 5px;
    padding-left: 30%;
}
header {
    position: relative;
    width: 100%;
}

#logo span {
    position: absolute;
    left: 160px;
    top: 100px;
}

nav {
    width: 100%;
    padding-top: 6px;
    padding-bottom: 12px;
    border-top: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
nav ul li {
    float: left;
    margin-left: 24px;
    text-transform: capitalize;
    font-size: x-large;
}

nav ul :first-child, nav ul :last-child {
    color: #b22222;
}

 #WebContentWrapper_ProductsGrid {
         width: 100%;
     }
    #WebContentWrapper_ProductsGrid td,#WebContentWrapper_ProductsGrid th {
        padding: 12px;
    }

#backgroundPopup { 
	z-index:1;
	position: fixed;
	display:none;
	height:100%;
	width:100%;
	background:#000000;	
	top:0px;  
	left:0px;
}
    /*NE Developed by muthait for AFM_TFS_40686 dated 06/26/2014*/
