﻿/*
    NS by muthait dated 11Sep2014

*/
/*.dollars:before { content:'$'; }*/

#msax-OrderConfirmation {
    width: 100%; 
    margin: 4px auto;
    Position: relative;
    font-size:large;
}

#msax-ShoppingCartControl {
    position: relative;
}

#msax-ShoppingCartControl h2 {
    margin: 10px 0 0 0;
    font-weight: 500;
    color: #6c6c6c;
    text-transform: uppercase;
   
}

#WebContentWrapper_CartButton1 {
    position: absolute;
    margin-top: -50px;
}

#msax-OrderConfirmation #mainwrapper {
    display: table-cell;
    width: 100%;
    padding-right: 20px;
}
#msax-OrderConfirmation #rightwrapper {
    display: table-cell;
    min-width: 300px;
}


.msax-ShoppingCartSummaryContent {
    width: 100%;
    table-layout: fixed;
    border: solid 1px #ebebeb;
}


.msax-ShoppingCartSummaryContent > tbody > tr:first-child > td:first-child {
    width: 45%;
    border-bottom:solid 1px #ebebeb;
    padding-bottom: 6px;
}

.msax-ShoppingCartSummaryContent > tbody > tr > td {
    padding-left: 4%;
}

.msax-ShoppingCartSummaryContent > tbody > tr > td:nth-child(2){
    padding-left: 0px;
}


.msax-ShoppingCartSummaryContent .msax-OrderSummary > div:first-child {
    display: none;
}

.msax-ShoppingCartSummaryContent .msax-OrderSummary div:last-child {
    border: 0px solid transparent;
}

.msax-ShoppingCartSummaryContent .msax-OrderSummary div:last-child span table {
    width: 99%;
    padding-left: 5%;
}

.msax-ShoppingCartSummaryContent .msax-OrderSummary {
    width: 94%;
    float: right;
    text-align: right;
    border-left: solid 1px #ebebeb;
}


.msax-ShoppingCartSummaryContent > table > tr >  td {
    width: 50%;
}

.msax-shoppingcartsummary, .msax-EstimatedTotalSummary {
    text-align: right;
    padding: 8px;
    float: right;
}

.msax-shoppingcartsummary div, .msax-EstimatedTotalSummary  div{
    text-align: right;
    padding: 3px;
}

.msax-shoppingcartsummary:first-child,.msax-EstimatedTotalSummary:first-child {
    padding: 15px;
}

#msax-OrderConfirmation > section {
    padding-top: 20px;
}

#msax-OrderConfirmation .msax-ShoppingCart .msax-ItemsGrid .msax-Quantity input
{
    margin-left:50px;
}

#msax-OrderConfirmation .continueShoppingBtn
{
    padding-top:25px;
    padding-bottom:30px;
    float:right;
}

#msax-OrderConfirmation .continueShoppingBtn a{
    background: none repeat scroll 0 0 #b22222;
    border: medium none;
    color: #fff;
    cursor: pointer;
    font-size: x-large;
    height: 40px;
    margin: 0;
    min-width: 100px;
    outline-style: none;
    padding: 3px 15px 10px 3px;
    text-align: center;
    text-decoration: none;
}