﻿.msax-ShoppingCartSummaryContent {
    width: 100%;
    table-layout: fixed;
   
}
.msax-ShoppingCartSummaryContent td {
    width: 50%;
    border: 1px solid #f3f4f4;
    border-top: 0 none;
}

.msax-shoppingcartsummary, .msax-EstimatedTotalSummary {
    text-align: right;
    padding: 8px;
    float: right;
}

.msax-shoppingcartsummary div, .msax-EstimatedTotalSummary  div{
    text-align: right;
    padding: 3px;
}

.msax-shoppingcartsummary:first-child,.msax-EstimatedTotalSummary:first-child {
    padding: 15px;
}
/*.dollars:before { content:'$'; }*/
