﻿/*
SAMPLE CODE NOTICE

THIS SAMPLE CODE IS MADE AVAILABLE AS IS.  MICROSOFT MAKES NO WARRANTIES, WHETHER EXPRESS OR IMPLIED, 
OF FITNESS FOR A PARTICULAR PURPOSE, OF ACCURACY OR COMPLETENESS OF RESPONSES, OF RESULTS, OR CONDITIONS OF MERCHANTABILITY.  
THE ENTIRE RISK OF THE USE OR THE RESULTS FROM THE USE OF THIS SAMPLE CODE REMAINS WITH THE USER.  
NO TECHNICAL SUPPORT IS PROVIDED.  YOU MAY NOT DISTRIBUTE THIS CODE UNLESS YOU HAVE A LICENSE AGREEMENT WITH MICROSOFT THAT ALLOWS YOU TO DO SO.
*/

.msax-Checkout { /* background-image: '<%=WebResource("someImage.jpg")%>;' */
}

    .msax-Checkout .msax-ButtonSection {
        text-align: center;
        margin-top: 20px;
        clear: both;
    }

    .msax-Checkout table {
        color: #272727;
        border-spacing: 0;
        border-collapse: collapse;
        border: 0;
        width: 100%;
    }

        .msax-Checkout table th,
        .msax-Checkout table td {
            padding: 0;
            margin: 0;
        }

        .msax-Checkout .msax-ItemsGrid > thead > tr > th, .msax-PromotionCodeWrapper thead > tr > th {
            background-color: #F3F4F4;
            text-transform: uppercase;
            vertical-align: middle;
            font-size: 11px;
            padding: 10px;
            text-align: left;
            color: #5d5d5e;
            font-weight: normal;
        }

        .msax-Checkout .msax-ItemsGrid > tbody > tr > td:not(.msax-PromotionBanner) {
            vertical-align: top;
            padding: 10px;
        }

        .msax-Checkout .msax-ItemsGrid tr > *:first-child {
            padding-left: 20px;
        }

        .msax-Checkout .msax-ItemsGrid tr > *:last-child:not(.msax-PromotionBanner) {
            padding-right: 20px;
        }

        .msax-Checkout .msax-ItemsGrid .msax-ProductDetails {
            width: 60%;
        }

        .msax-Checkout .msax-ItemsGrid .msax-ProductDetails .msax-ProductImage .msax-NoImageContainer,
        .msax-ItemLevelPreferenceSelection .msax-ProductDetails .msax-ProductImage .msax-NoImageContainer {
            width: 50px;
            height: 50px;
            display: block;
            background-image: url('/<%=WebResource("Microsoft.Dynamics.Retail.Ecommerce.Sdk.Controls.Common.Images.product_sm_cart_placeholder.png")%>');
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
        }

            .msax-Checkout .msax-ItemsGrid .msax-ProductDetails button.msax-Delete16 {
                margin-top: 10px;
            }

        .msax-Checkout .msax-ItemsGrid .msax-Price {
            width: 10%;
            text-align: right;
        }

        .msax-Checkout .msax-ItemsGrid .msax-Quantity {
            width: 20%;
            text-align: center;
        }

            .msax-Checkout .msax-ItemsGrid .msax-Quantity input {
                width: 40px;
                text-align: center;
                margin: 0 10px;
            }

            .msax-Checkout .msax-ItemsGrid .msax-Quantity button {
                vertical-align: middle;
            }

        .msax-Checkout .msax-ItemsGrid .msax-Total {
            width: 10%;
            text-align: right;
        }

            .msax-Checkout .msax-ItemsGrid .msax-Total .msax-LineDiscount {
                color: #999999;
            }

        .msax-Checkout .msax-ItemsGrid tr.msax-KitComponents > *:first-child, .msax-Checkout .msax-ItemsGrid tr.msax-NoOfComponentsInKit > *:first-child {
            padding-left: 60px;
        }

        .msax-Checkout .msax-ItemsGrid tr.msax-KitComponents > *:last-child {
            padding-right: 10px; /* overriding the inherited padding-right */
        }

    .msax-Checkout .msax-PromotionCodeWrapper .msax-PromotionCodes *, .msax-ApplyPromotionCodeBlock *, .msax-PromotionCodesEmpty * {
        padding: 10px;
        margin-bottom: 0px;
    }

    .msax-Checkout .msax-PromotionCodeWrapper .msax-PromotionCodes tr > td > *:first-child {
        padding-left: 50px;
    }

    .msax-Checkout .msax-PromotionCodeWrapper .msax-ApplyPromotionCodeBlock {
        padding-top: 10px;
    }

        .msax-Checkout .msax-PromotionCodeWrapper .msax-ApplyPromotionCodeBlock > *:first-child {
            margin-left: 20px;
        }

    .msax-Checkout .msax-PromotionCodeWrapper .msax-PromotionCodesEmpty * {
        padding-left: 20px;
    }

    .msax-Checkout .msax-PromotionCodeWrapper .msax-PromotionCodes .msax-Remove {
        background: url('/<%=WebResource("Microsoft.Dynamics.Retail.Ecommerce.Sdk.Controls.Common.Images.i_Delete_16_on.png")%>') no-repeat center;
    }

        .msax-Checkout .msax-Review .msax-ItemsGrid .msax-ProductDetails {
            width: 45%;
        }

        .msax-Checkout .msax-Review .msax-ItemsGrid .msax-ShippingMethod {
            width: 15%;
            text-align: left;
        }

    .msax-Checkout .msax-ShoppingCartSummary {
        width: 320px;
        float: right;
    }

        .msax-Checkout .msax-ShoppingCartSummary div {
            text-align: right;
        }

        .msax-Checkout .msax-ShoppingCartSummary > div > div {
            
        }

        .msax-Checkout .msax-ShoppingCartSummary > div > div > div:first-child {
            width: 160px;
            padding-bottom: 15px;
        }

        .msax-Checkout .msax-ShoppingCartSummary > div > div > div:last-child {
            width: 140px;
        }
        
        .msax-Checkout .msax-ShoppingCartSummary .msax-GrandTotal div {
            font-size: 24px;
            font-weight: bold;
            margin-top: 15px;
        }

.msax-Checkout .msax-Review .msax-OrderSummary .msax-EmailAddress,
.msax-Checkout .msax-Review .msax-OrderSummary .msax-StoreAddress, 
.msax-Checkout .msax-Review .msax-OrderSummary .msax-ShippingAddress,
.msax-Checkout .msax-Review .msax-OrderSummary .msax-ShippingMethod,
.msax-Checkout .msax-Review .msax-OrderSummary .msax-BillingAddress {
    width: 200px;
    word-wrap: break-word;
}

.msax-Checkout .msax-Review .msax-OrderSummary .msax-EmailAddress h5,
.msax-Checkout .msax-Review .msax-OrderSummary .msax-StoreAddress h5, 
.msax-Checkout .msax-Review .msax-OrderSummary .msax-ShippingAddress h5, 
.msax-Checkout .msax-Review .msax-OrderSummary .msax-BillingAddress h5,
.msax-Checkout .msax-Review .msax-OrderSummary .msax-Payment h5,
.msax-Checkout .msax-Review .msax-OrderSummary .msax-RewardCard h5 {
    background: none;
    color: black;
}

    .msax-Checkout .msax-Review .msax-OrderSummary .msax-Payment .msax-CreditCardPayment h5,
    .msax-Checkout .msax-Review .msax-OrderSummary .msax-Payment .msax-GiftCardPayment h5,
    .msax-Checkout .msax-Review .msax-OrderSummary .msax-Payment .msax-LoyaltyCardPayment h5 {
        padding: 0;
        margin: 0;
    }

.msax-Checkout .msax-Review .msax-OrderSummary .msax-EmailAddress > *,
.msax-Checkout .msax-Review .msax-OrderSummary .msax-StoreAddress > *,
.msax-Checkout .msax-Review .msax-OrderSummary .msax-ShippingAddress > *, 
.msax-Checkout .msax-Review .msax-OrderSummary .msax-BillingAddress > *,
.msax-Checkout .msax-Review .msax-OrderSummary .msax-Payment > * {
    padding-left: 10px
}

.msax-Checkout .msax-DeliveryPreferences .msax-DeliveryPreferencesOrderLevel, .msax-DeliveryPreferencesItemLevel {
    background-color: #EDEEEE;
    padding: 10px;
}

.msax-Checkout .msax-DeliveryPreferences .msax-ItemLevelPreferenceWrapper .msax-ChangeYourDeliveryPreference {
    cursor: pointer;
    text-decoration: none;
}

.msax-Checkout .msax-DeliveryPreferences .msax-PickUpInStoreOrderLevel .msax-Map,
.msax-PickUpInStoreItemLevel .msax-Map {
    position: relative;
    border: 1px solid #808080;
    height: 460px;
    width: 460px;
    margin-top: 20px;
}

    .msax-Checkout .msax-DeliveryPreferences .msax-PickUpInStoreOrderLevel .msax-Location,
    .msax-PickUpInStoreItemLevel .msax-Location {
        width: 391px;
    }

    .msax-Checkout .msax-DeliveryPreferences .msax-PickUpInStoreOrderLevel .msax-AvailableStores .msax-ResultsContainer,
    .msax-PickUpInStoreItemLevel .msax-AvailableStores .msax-ResultsContainer {
        height: 460px;
        overflow: auto;
    }

    .msax-Checkout .msax-DeliveryPreferences .msax-PickUpInStoreOrderLevel .msax-AvailableStores .msax-AvailableStore,
    .msax-PickUpInStoreItemLevel .msax-AvailableStores .msax-AvailableStore {
        display: block;
        float: right;
        margin-bottom: 5px;
        padding: 8px;
        width: 390px;
    }

    .msax-Checkout .msax-DeliveryPreferences .msax-PickUpInStoreOrderLevel .msax-AvailableStores .msax-AvailableStoresHeader,
    .msax-PickUpInStoreItemLevel .msax-AvailableStores .msax-AvailableStoresHeader {
         padding-left: 80px;
    }

    .msax-Checkout .msax-DeliveryPreferences .msax-PickUpInStoreOrderLevel .msax-AvailableStores .msax-StoreHeader,
    .msax-PickUpInStoreItemLevel .msax-AvailableStores .msax-StoreHeader { 
        padding-left: 80px;
        text-transform: uppercase;
    }

    .msax-Checkout .msax-DeliveryPreferences .msax-PickUpInStoreOrderLevel .msax-AvailableStores .msax-DistanceHeader,
    .msax-PickUpInStoreItemLevel .msax-AvailableStores .msax-DistanceHeader {
        float: right;
        margin-right: 45px;
        text-transform: uppercase;
    }

    .msax-Checkout .msax-DeliveryPreferences .msax-PickUpInStoreOrderLevel .msax-AvailableStores .msax-ItemAvailability .msax-ItemNotAvailable,
    .msax-PickUpInStoreItemLevel .msax-AvailableStores .msax-ItemAvailability .msax-ItemNotAvailable {
        color: #FF0000;
    }
    
    .msax-Checkout .msax-DeliveryPreferences .msax-PickUpInStoreOrderLevel .msax-AvailableStores .msax-Number,
    .msax-PickUpInStoreItemLevel .msax-AvailableStores .msax-Number {
        background: none repeat scroll 0 0 #FF6A00;
        border-radius: 0.8em;
        color: #FFFFFF;
        display: inline-block;
        font-weight: bold;
        line-height: 1.6em;
        margin-right: 5px;
        text-align: center;
        width: 1.6em;
    }

    .msax-Checkout .msax-DeliveryPreferences .msax-PickUpInStoreOrderLevel .msax-AvailableStores .msax-AvailableStore .msax-Distance,
    .msax-PickUpInStoreItemLevel .msax-AvailableStores .msax-AvailableStore .msax-Distance {
        float: right;
        margin-right: 30px;
    }

    .msax-Checkout .msax-DeliveryPreferences .msax-PickUpInStoreOrderLevel .msax-AvailableStores .msax-Selected,
    .msax-PickUpInStoreItemLevel .msax-AvailableStores .msax-Selected {
        background-color: #65A5F1;
    }

    .msax-Checkout .msax-DeliveryPreferences .msax-PickUpInStoreOrderLevel .msax-AvailableStores .msax-Selected *,
    .msax-PickUpInStoreItemLevel .msax-AvailableStores .msax-Selected * {
        color: #FFFFFF;
    }    

    .msax-Checkout .msax-DeliveryPreferences .msax-PickUpInStoreOrderLevel .msax-FindStore button,
    .msax-PickUpInStoreItemLevel .msax-FindStore button {
        background: url('/<%=WebResource("Microsoft.Dynamics.Retail.Ecommerce.Sdk.Controls.Common.Images.btn_search.png")%>')  repeat scroll 0 0 transparent;
        border: 0 none;
        cursor: pointer;
        height: 28px;
        min-width: 60px;
        width: 60px;
        float: right;
    }

    .msax-Control .msax-PickUpInStoreItemLevel .msax-Map, .msax-Control .msax-PickUpInStoreItemLevel .msax-AvailableStores .msax-ResultsContainer {
        height: 300px;
    }

     .msax-Checkout .msax-DeliveryPreferences .msax-EmailOrderLevel .msax-EmailDeliveryInfoImage,
     .msax-EmailItemLevel .msax-EmailDeliveryInfoImage {
        background: url('/<%=WebResource("Microsoft.Dynamics.Retail.Ecommerce.Sdk.Controls.Checkout.Images.electronic_delivery_info.png")%>') no-repeat;
        height: 300px;
     }

     .msax-Checkout .msax-DeliveryPreferences .msax-ShipItemsOrderLevel .msax-TruckImage, 
     .msax-ShipItemsItemLevel .msax-TruckImage {
        background: url('/<%=WebResource("Microsoft.Dynamics.Retail.Ecommerce.Sdk.Controls.Checkout.Images.i_shipping_truck.png")%>') no-repeat;
        height: 100px;
        margin-left: 30px;
     }

.msax-Checkout .msax-PaymentInformation .msax-OrderTotal {
    white-space: nowrap;
}

.msax-Checkout .msax-ProgressBar .msax-Payment, .msax-Checkout .msax-ProgressBar .msax-Delivery, .msax-Checkout .msax-ProgressBar .msax-Review {
    width: 320px;
    line-height: 30px;
    color: #FFFFFF;
    float: left;
    text-align: center;
}

    .msax-Checkout .msax-ProgressBar .msax-Payment {
        background: url('/<%=WebResource("Microsoft.Dynamics.Retail.Ecommerce.Sdk.Controls.Checkout.Images.progress_step_left.png")%>') no-repeat scroll left center, url('/<%=WebResource("Microsoft.Dynamics.Retail.Ecommerce.Sdk.Controls.Checkout.Images.progress_step_right.png")%>') no-repeat scroll right center, url('/<%=WebResource("Microsoft.Dynamics.Retail.Ecommerce.Sdk.Controls.Checkout.Images.progress_step_bg.png")%>') repeat-x scroll center center;
    }

    .msax-Checkout .msax-ProgressBar .msax-Delivery {
        background: url('/<%=WebResource("Microsoft.Dynamics.Retail.Ecommerce.Sdk.Controls.Checkout.Images.progress_step_right.png")%>') no-repeat scroll right center, url('/<%=WebResource("Microsoft.Dynamics.Retail.Ecommerce.Sdk.Controls.Checkout.Images.progress_step_bg.png")%>') repeat-x scroll center center;
    }

    .msax-Checkout .msax-ProgressBar .msax-Review {
        background: url('/<%=WebResource("Microsoft.Dynamics.Retail.Ecommerce.Sdk.Controls.Checkout.Images.progress_step_left.png")%>') no-repeat scroll left center, url('/<%=WebResource("Microsoft.Dynamics.Retail.Ecommerce.Sdk.Controls.Checkout.Images.progress_step_right.png")%>') no-repeat scroll right center, url('/<%=WebResource("Microsoft.Dynamics.Retail.Ecommerce.Sdk.Controls.Checkout.Images.progress_step_bg.png")%>') repeat-x scroll center center;
        width: 280px;
    }

.msax-Checkout .msax-ProgressBar .msax-ProgressBarEnd {
    height: 30px;
    display: block;
    color: #FFFFFF;
    float: left;
    width: 40px;
    background: url('/<%=WebResource("Microsoft.Dynamics.Retail.Ecommerce.Sdk.Controls.Checkout.Images.progress_end.png")%>') no-repeat scroll 0 0;
}

.msax-Checkout .msax-ProgressBar .msax-Delivery.msax-Active {
    background: url('/<%=WebResource("Microsoft.Dynamics.Retail.Ecommerce.Sdk.Controls.Checkout.Images.progress_step_right_on.png")%>') no-repeat scroll right center, url('/<%=WebResource("Microsoft.Dynamics.Retail.Ecommerce.Sdk.Controls.Checkout.Images.progress_step_bg_on.png")%>') repeat-x scroll center center;
}

.msax-Checkout .msax-ProgressBar .msax-Review.msax-Active, .msax-Checkout .msax-ProgressBar .msax-Payment.msax-Active {
  background: url('/<%=WebResource("Microsoft.Dynamics.Retail.Ecommerce.Sdk.Controls.Checkout.Images.progress_step_left_on.png")%>') no-repeat scroll left center, url('/<%=WebResource("Microsoft.Dynamics.Retail.Ecommerce.Sdk.Controls.Checkout.Images.progress_step_right_on.png")%>') no-repeat scroll right center, url('/<%=WebResource("Microsoft.Dynamics.Retail.Ecommerce.Sdk.Controls.Checkout.Images.progress_step_bg_on.png")%>') repeat-x scroll center center;
}

.msax-Checkout .msax-ProgressBar .msax-ProgressBarEnd.msax-Active {
    background: url('/<%=WebResource("Microsoft.Dynamics.Retail.Ecommerce.Sdk.Controls.Checkout.Images.progress_end_on.png")%>') no-repeat scroll 0 0;
}

.msax-Checkout .msax-PaymentInformation .msax-PaymentTotals .msax-OrderTotal, .msax-Checkout .msax-PaymentInformation .msax-PaymentTotals .msax-PaymentTotal {
    font-size: 14px;
}

.msax-Checkout .msax-PaymentInformation .msax-PaymentTotals .msax-OrderTotal {
    color: #0066cc;
}

.msax-Control .msax-AddDiscountCodeDialog .msax-Row, .msax-Control .msax-EditRewardCard .msax-Row {
    line-height: 48px;
}

    .msax-Control .msax-AddDiscountCodeDialog .msax-Row .msax-Title, .msax-Control .msax-EditRewardCard .msax-Row .msax-Title {
        margin-top: 0px;
        margin-bottom: 0px;
    }

.msax-Control .msax-EditRewardCard .msax-RewardCardTextBox, .msax-Control .msax-AddDiscountCodeDialog .msax-DiscountCodeTextBox {
    width: 300px;
}