﻿/*
SAMPLE CODE NOTICE

THIS SAMPLE CODE IS MADE AVAILABLE AS IS.  MICROSOFT MAKES NO WARRANTIES, WHETHER EXPRESS OR IMPLIED, 
OF FITNESS FOR A PARTICULAR PURPOSE, OF ACCURACY OR COMPLETENESS OF RESPONSES, OF RESULTS, OR CONDITIONS OF MERCHANTABILITY.  
THE ENTIRE RISK OF THE USE OR THE RESULTS FROM THE USE OF THIS SAMPLE CODE REMAINS WITH THE USER.  
NO TECHNICAL SUPPORT IS PROVIDED.  YOU MAY NOT DISTRIBUTE THIS CODE UNLESS YOU HAVE A LICENSE AGREEMENT WITH MICROSOFT THAT ALLOWS YOU TO DO SO.
*/

.msax-ShoppingCart .msax-ButtonSection {
    text-align: center;
    margin-top: 20px;
    clear: both;
}

.msax-ShoppingCart table {
    color: #272727;
    border-spacing: 0;
    border-collapse: collapse;
    border: 0;
    width: 100%;
}

    .msax-ShoppingCart table th,
    .msax-ShoppingCart table td {
        padding: 0;
        margin: 0;
    }

.msax-ShoppingCart .msax-ItemsGrid > thead > tr > th, .msax-PromotionCodeWrapper thead > tr > th {
    background-color: #F3F4F4;
    text-transform: uppercase;
    vertical-align: middle;
    font-size: 11px;
    padding: 10px;
    text-align: left;
    color: #5d5d5e;
    font-weight: normal;
}

    .msax-ShoppingCart .msax-ItemsGrid > tbody > tr > *:not(.msax-PromotionBanner) {
        vertical-align: top;
        padding: 10px;
    }

    .msax-ShoppingCart .msax-ItemsGrid tr > *:first-child {
        padding-left: 20px;
    }

    .msax-ShoppingCart .msax-ItemsGrid tr > *:last-child:not(.msax-PromotionBanner) {
        padding-right: 20px;
    }

    .msax-ShoppingCart .msax-ItemsGrid tr.msax-ProductDetails {
        border-top: solid 1px #F3F4F4;
    }

    .msax-ShoppingCart .msax-ItemsGrid .msax-ProductDetails {
        width: 60%;
    }

    .msax-ShoppingCart .msax-ItemsGrid .msax-ProductDetails .msax-ProductImage .msax-NoImageContainer,
    .msax-ItemLevelPreferenceSelection .msax-ProductDetails .msax-ProductImage .msax-NoImageContainer {
        width: 50px;
        height: 50px;
        display: block;
        background-image: url('/<%=WebResource("Microsoft.Dynamics.Retail.Ecommerce.Sdk.Controls.Common.Images.product_sm_cart_placeholder.png")%>');
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }

        .msax-ShoppingCart .msax-ItemsGrid .msax-ProductDetails button.msax-Delete16 {
            margin-top: 10px;
        }

    .msax-ShoppingCart .msax-ItemsGrid .msax-Price {
        width: 10%;
        text-align: right;
    }

    .msax-ShoppingCart .msax-ItemsGrid .msax-Quantity {
        width: 20%;
        text-align: center;
    }

        .msax-ShoppingCart .msax-ItemsGrid .msax-Quantity input {
            width: 40px;
            text-align: center;
            margin: 0 10px;
        }

        .msax-ShoppingCart .msax-ItemsGrid .msax-Quantity button {
            vertical-align: middle;
        }

    .msax-ShoppingCart .msax-ItemsGrid .msax-Total {
        width: 10%;
        text-align: right;
    }

        .msax-ShoppingCart .msax-ItemsGrid .msax-Total .msax-LineDiscount {
            color: #999999;
        }

    .msax-ShoppingCart .msax-ItemsGrid tr.msax-KitComponents > *:first-child, .msax-ShoppingCart .msax-ItemsGrid tr.msax-NoOfComponentsInKit > *:first-child {
        padding-left: 60px;
    }

    .msax-ShoppingCart .msax-ItemsGrid tr.msax-KitComponents > *:last-child {
        padding-right: 10px; /* overriding the inherited padding-right */
    }  

.msax-ShoppingCart .msax-ShoppingCartOrderInfo {
    width: 620px;
    float: left;
}

.msax-ShoppingCart .msax-ShoppingCartSummary {
    width: 320px;
    float: right;
}

    .msax-ShoppingCart .msax-ShoppingCartSummary div {
        text-align: right;
    }

    .msax-ShoppingCart .msax-ShoppingCartSummary > div > div > div:first-child {
        width: 160px;
        padding-bottom: 15px;
    }

    .msax-ShoppingCart .msax-ShoppingCartSummary > div > div > div:last-child {
        width: 140px;
    }
        
    .msax-ShoppingCart .msax-ShoppingCartSummary .msax-GrandTotal div {
        font-size: 24px;
        font-weight: bold;
        margin-top: 15px;
    }  

    .msax-Control .msax-EditRewardCard .msax-RewardCardTextBox {
        width: 300px;
    }

.msax-MiniCart {
    padding: 0 10px;
    position: absolute;
    z-index: 1000;
    left: 1020px;
    top: -500px;
    width: 300px;
    border: 0 none;
    background: #272829;
    opacity: 0.95;
    filter: alpha(opacity=95); 
}

.msax-MiniCart .msax-ShoppingCartWrapper {
    background-color: #ffffff;
}  

.msax-MiniCart .msax-ShoppingCartWrapper .msax-CartSummary {
    /*width: 300px;*/
}

.msax-MiniCartControl {
    background-color: #272829;
}

.msax-MiniCartControl .msax-MiniCartButton .msax-MiniCartButtonCount {
    color: #fff;
}

    .msax-MiniCartControl .msax-MiniCartButton .msax-MiniCartButtonCount:before {
        content: "[ ";
    }

    .msax-MiniCartControl .msax-MiniCartButton .msax-MiniCartButtonCount:after {
        content: " ]";
    }

.msax-MiniCart .msax-ItemsGrid tr > *:first-child {
        padding-left: 10px;
    }

    .msax-MiniCart .msax-ItemsGrid tr > *:last-child {
        padding-right: 10px;
    }

    .msax-MiniCart .msax-ItemsGrid tr.msax-ProductDetails {
        border-top: none;
    }

    .msax-MiniCart .msax-ItemsGrid .msax-ProductDetails {
        width: 90%;
    }

.msax-MiniCart .msax-Top {
    height: 30px;
}

    .msax-MiniCart .msax-Top .msax-Close {
        background: inherit;
        height: inherit;
        padding: 0;
        min-width: 0;
        vertical-align: middle;
        float: right;
    }

.msax-MiniCart .msax-OuterHeaderText {
    color: #ffffff;
}

.msax-MiniCart .msax-Bottom {
    height: 45px;
}

.msax-MiniCart .msax-CheckoutButton {
    height:inherit;
}