﻿/*
    NS by muthait dated 11Sep2014

*/

.msax-Addresses {
    
}

.msax-ShoppingCart h2 {
    font-weight: 500;
}

.msax-Addresses > .msax-ShippingAddressCollection .msax_AvailableAddressLoop {
    position:relative;
}

.msax-Addresses > .msax-ShippingAddressCollection .msax_AvailableAddressLoop >.msax-ShippingAddressBoxItem
{
    padding-right:16px;
    display: table-cell;

}

.msax-Addresses > .msax-ShippingAddressCollection .msax_AvailableAddressLoop >.msax-ShippingAddressBoxItem > div
{
    position:relative;
    border:2px solid rgb(243,243,243);
    padding:14px;
    min-width:240px;
    min-height:320px;
}

.msax-Addresses > .msax-ShippingAddressCollection .msax_AvailableAddressLoop > .msax-ShippingAddressBoxItem > div .msax-NameField
{
    font-weight: bold;
    font-size: large;
    padding-bottom:8px;
}

.msax-Addresses > .msax-ShippingAddressCollection .msax_AvailableAddressLoop > .msax-ShippingAddressBoxItem > div .msax-UseAddressButton
{
    position:absolute;
    bottom:4px;
    left:15px;
}

.msax-Addresses > .msax-ShippingAddressCollection > div > div:first-child,.msax-Addresses > .msax-ShippingAddress > div:first-child,.msax-Addresses > .msax-BillingAddress > div:first-child {
    font-size: large;
    font-weight: bold;
}

.msax-Addresses .required
{
    color:red;
}

.msax-Addresses .msax-ShippingAddressform
{
    display:table;
    width: 60%;
}
.msax-Addresses .msax-BillingAddress {
     display:table;   
    width: 60%;
}

/*CS Developed by muthait for AFM_TFS_40686 dated 06/26/2014*/
    .msax-Addresses button {
       cursor: pointer;
        outline-style: none;
        margin: 0 0 20px 0;
        color: #fff;
        font-size: large;
        text-decoration: none;
        border: none;
        padding: 3px 15px 0px 15px;
        height: 40px;
        text-align: center;
        min-width: 100px;
        background: #b22222;

    }

    .SplitLeft50 {
        position: relative;
        float: left;
        width: 50%;
    }

    .msax-ButtonSection {
        margin-top: 20px;
        margin-bottom:20px;
    }
     .msax-RequiredError{
    border-color: red !important;
    }
