﻿/*
    NS by muthait dated 11Sep2014

*/
.msax-CartMode
{
    display: table;
    width: 100%;
}
.msax-CartMode > div
{
    display: table-cell;
}

.msax-CartMode > div:first-child
{
    float:left;
    margin-left:15px;
}

.msax-CartMode > div:first-child h1
{
    padding:0 0 6px 0;
    margin: 0;
    font-weight:500;
    color:#6c6c6c;
}
.msax-CartMode > div:nth-child(2)
{
    float:right;
    margin:20px 20px 0 0;
}

.msax-CartPageMode  >  div 
{    
    opacity: 0.2;
    float: left;
}

.msax-CartPageMode .active
{
    opacity: 1;
}

.msax-CartPageMode .completed {
    opacity: 1;
}
.msax-CartPageMode .completed > div:first-child > div:first-child {
    border:0px solid transparent;
     background:#6c6c6c; 
}

.msax-CartMode .active > div:first-child > div:first-child
{    
    background:#121e40;   
    color:#fff;
}

.msax-CartPageMode > div
{
    position: relative;
}
.msax-CartPageMode > div > div > div
{
    display: table-cell;

}

.msax-CartPageMode > div > div:first-child {

}

.msax-CartPageMode > div > div:first-child > div:first-child
{
    width:46px;
    height:46px;
    border-radius:40px;
    border:2px solid #121e40;
    font-size:large;
    line-height:42px;
    text-align:center;
}
.msax-CartPageMode > div>  div:first-child > div:last-child{
    padding-left:10px;
    padding-right:20px;
   
}
.msax-CartMode .active >  div:last-child
{
    position:absolute;
    height:2px;
    width: 100%;
    margin-top:24px;
    background-color: #121e40;
}
.msax-CartMode div:last-child > div
{
    display: table-cell;
}

.msax-CartMode > div:nth-child(3)
{
    display:list-item;
    margin-top:90px;
    margin-bottom:2px;
    height:2px;
    width:100%;
    background-color: #121e40;
    opacity: 0.2;
}

.msax-CartMode .msax_BackButton {
    color:#121e40;
}