﻿/*
SAMPLE CODE NOTICE

THIS SAMPLE CODE IS MADE AVAILABLE AS IS.  MICROSOFT MAKES NO WARRANTIES, WHETHER EXPRESS OR IMPLIED, 
OF FITNESS FOR A PARTICULAR PURPOSE, OF ACCURACY OR COMPLETENESS OF RESPONSES, OF RESULTS, OR CONDITIONS OF MERCHANTABILITY.  
THE ENTIRE RISK OF THE USE OR THE RESULTS FROM THE USE OF THIS SAMPLE CODE REMAINS WITH THE USER.  
NO TECHNICAL SUPPORT IS PROVIDED.  YOU MAY NOT DISTRIBUTE THIS CODE UNLESS YOU HAVE A LICENSE AGREEMENT WITH MICROSOFT THAT ALLOWS YOU TO DO SO.
*/

.msax-Checkout {
    width: 400px;
}

    .msax-Checkout .msax-ItemsGrid .msax-ProductDetails {
        width: 50%;
    }

    .msax-Checkout .msax-ItemsGrid .msax-Quantity {
        width: 10%;
    }

    .msax-Checkout .msax-ShoppingCartSummary {
        float: inherit;
        width: inherit;
    }

        .msax-Checkout .msax-ShoppingCartSummary div {
            text-align: left;
        }