﻿/*
SAMPLE CODE NOTICE

THIS SAMPLE CODE IS MADE AVAILABLE AS IS.  MICROSOFT MAKES NO WARRANTIES, WHETHER EXPRESS OR IMPLIED, 
OF FITNESS FOR A PARTICULAR PURPOSE, OF ACCURACY OR COMPLETENESS OF RESPONSES, OF RESULTS, OR CONDITIONS OF MERCHANTABILITY.  
THE ENTIRE RISK OF THE USE OR THE RESULTS FROM THE USE OF THIS SAMPLE CODE REMAINS WITH THE USER.  
NO TECHNICAL SUPPORT IS PROVIDED.  YOU MAY NOT DISTRIBUTE THIS CODE UNLESS YOU HAVE A LICENSE AGREEMENT WITH MICROSOFT THAT ALLOWS YOU TO DO SO.
*/

.msax-Checkout { /* background-image: '<%=WebResource("someImage.jpg")%>;' */
}

    .msax-Checkout .msax-ButtonSection {
        text-align: center;
        margin-top: 20px;
        clear: both;
        text-align: right;
    }


    .msax-Checkout table {
        color: #272727;
        border-spacing: 0;
        border-collapse: collapse;
        border: 0;
        width: 100%;
    }

        .msax-Checkout table th,
        .msax-Checkout table td {
            padding: 0;
            margin: 0;
        }

    .msax-Checkout .msax-ItemsGrid {
        border: 1px solid #f3f4f4;
    }
    
        .msax-Checkout .msax-ItemsGrid > thead > tr > th, .msax-PromotionCodeWrapper thead > tr > th {
            background-color: rgb(0, 88, 147);/*NS Developed by muthait for AFM_TFS_40686 dated 06/26/2014*/
            text-transform: capitalize;
            vertical-align: middle;
            font-size: large;
            padding: 10px;
            text-align: left;
            color: #ffffff;/*NS Developed by muthait for AFM_TFS_40686 dated 06/26/2014*/
            font-weight: bold;
        }

.msax-PromotionCodeWrapper thead > tr > th {
    padding: 0;
}

        .msax-Checkout .msax-ItemsGrid > tbody > tr > td {
            vertical-align: top;
            padding: 10px;
        }

        .msax-Checkout .msax-ItemsGrid tr > *:first-child {
            padding-left: 20px;
        }

        .msax-Checkout .msax-ItemsGrid tr > *:last-child {
            padding-right: 20px;
        }

        .msax-Checkout .msax-ItemsGrid tr.msax-ProductDetails {
            border-top: solid 1px #F3F4F4;
        }

        .msax-Checkout .msax-ItemsGrid .msax-ProductDetails {
            width: 55%;
        }

            .msax-Checkout .msax-ItemsGrid .msax-ProductDetails .msax-ProductImage {
                width: 130px;
                height: 130px;
                display: block;
                background-image: url('/<%=WebResource("AFM.Ecommerce.Controls.Common.Images.product_sm_cart_placeholder.png")%>');
                -webkit-background-size: cover;
                -moz-background-size: cover;
                background-size: cover;
            }

            .msax-Checkout .msax-ItemsGrid .msax-ProductDetails button.msax-Delete16 {
               /* margin-top: 10px;*/
            }

        .msax-Checkout .msax-ItemsGrid .msax-Price {
            width: 20%;
            text-align: center;
        }

        .msax-Checkout .msax-ItemsGrid .msax-ShippingInfo {
            width: 30%;
            text-align: left;
        }

        .msax-Checkout .msax-ItemsGrid .msax-Quantity {
            width: 10%;
            text-align: center;
        }

            .msax-Checkout .msax-ItemsGrid .msax-Quantity input {
                width: 40px;
                text-align: center;
                margin: 0 10px;
            }

            .msax-Checkout .msax-ItemsGrid .msax-Quantity button {
                vertical-align: middle;
            }

        .msax-Checkout .msax-ItemsGrid .msax-Total {
            width: 10%;
            text-align: right;
        }

            .msax-Checkout .msax-ItemsGrid .msax-Total .msax-LineDiscount {
                color: #ff0000;
            }

        .msax-Checkout .msax-ItemsGrid tr.msax-KitComponents > *:first-child, .msax-Checkout .msax-ItemsGrid tr.msax-NoOfComponentsInKit > *:first-child {
            padding-left: 60px;
        }

        .msax-Checkout .msax-ItemsGrid tr.msax-KitComponents > *:last-child {
            padding-right: 10px; /* overriding the inherited padding-right */
        }

    .msax-Checkout .msax-PromotionCodeWrapper .msax-PromotionCodes *, .msax-ApplyPromotionCodeBlock *, .msax-PromotionCodesEmpty * {
        padding: 10px 0 10px 0;
        margin-bottom: 0px;
    }

    .msax-Checkout .msax-PromotionCodeWrapper .msax-PromotionCodes tr > td > *:first-child {
        padding-left: 50px;
    }

    .msax-Checkout .msax-PromotionCodeWrapper .msax-ApplyPromotionCodeBlock {
        padding-top: 10px;
    }

        .msax-Checkout .msax-PromotionCodeWrapper .msax-ApplyPromotionCodeBlock > *:first-child {
            margin-left: 20px;
        }

    .msax-Checkout .msax-PromotionCodeWrapper .msax-PromotionCodesEmpty * {
        padding-left: 20px;
    }

    .msax-Checkout .msax-PromotionCodeWrapper .msax-PromotionCodes .msax-Remove {
        background: url('/<%=WebResource("AFM.Ecommerce.Controls.Common.Images.i_Delete_16_on.png")%>') no-repeat center;
    }

        .msax-Checkout .msax-Review .msax-ItemsGrid .msax-ProductDetails {
            width: 45%;
        }

        .msax-Checkout .msax-Review .msax-ItemsGrid .msax-ShippingMethod {
            width: 15%;
            text-align: center;
        }

    .msax-Checkout .msax-ShoppingCartSummary {
        width: 260px;
        float: right;
    }

        .msax-Checkout .msax-ShoppingCartSummary div {
            text-align: right;
        }

        .msax-Checkout .msax-ShoppingCartSummary > div > div {
            
        }

        .msax-Checkout .msax-ShoppingCartSummary > div > div > div:first-child {
            width: 160px;
            padding-bottom: 15px;
        }

        .msax-Checkout .msax-ShoppingCartSummary > div > div > div:last-child {
            width: 80px;
        }
        
        .msax-Checkout .msax-ShoppingCartSummary .msax-GrandTotal div {
           /* font-size: 24px;
            font-weight: bold;*/
            margin-top: 15px;
        }

        
.msax-Checkout .msax-Review .msax-OrderSummary .msax-ShippingAddress, 
.msax-Checkout .msax-Review .msax-OrderSummary .msax-ShippingMethod,
.msax-Checkout .msax-Review .msax-OrderSummary .msax-BillingAddress,
.msax-Checkout .msax-Review .msax-OrderSummary .msax-Payment {
    width: 200px;
}

.msax-Checkout .msax-Review .msax-OrderSummary .msax-ShippingAddress h5, 
.msax-Checkout .msax-Review .msax-OrderSummary .msax-BillingAddress h5,
.msax-Checkout .msax-Review .msax-OrderSummary .msax-Payment h5 {
    margin-bottom: 0; /* overriding the inherited margin */
}

.msax-Checkout .msax-Review .msax-OrderSummary .msax-ShippingAddress > *,
.msax-Checkout .msax-Review .msax-OrderSummary .msax-BillingAddress > *,
.msax-Checkout .msax-Review .msax-OrderSummary .msax-Payment > * {
    padding-left: 10px
}

.msax-Checkout .msax-PaymentInformation .msax-AddressForm > * {
   /* float: left; */
}

.msax-Checkout .msax-PaymentInformation .msax-AddressForm .msax-UseShippingAddress {
    margin-top: 30px;
  /*  width: 300px; */
}


/*
//NS Developed by muthait for AFM_TFS_40686 dated 06/24/2014
*/

.msax-OrderSummary {
    border:1px solid #f3f4f4;
}
.msax-Checkout .msax-CartArea {
    width: 100%;
}
.msax-Checkout .msax-CartArea h2 {
    text-transform: uppercase;
    font-weight: normal;
    text-decoration: none;
    font-size: x-large;
}
.msax-Checkout .msax-CartButtonFloat {
    position: relative;
    float: right;
}
.msax-Checkout .msax-zipcodestatus {
    background-color: rgb(242, 250, 252);
    width: 100%;
    padding-top: 8px;
    padding-left: 5px;
    padding-bottom: 7px;
    margin-bottom: 6px;
}

.msax-Checkout .msax-ProductQuickLink {
    text-align: right;
    width: 100%;
}
.msax-DiscountTotal {
    margin-top: -10px;
    padding-right: 20px;
    padding-bottom: 15px;
}

.msax-GrandTotal {
    font-size: x-large;
    font-weight: bold;
}

.msax-ItemPrice {
    text-decoration: line-through;
}

.msax-ShoppingCartSummaryContent {
    width: 100%;
    table-layout: fixed;
   
}
.msax-ShoppingCartSummaryContent td {
    width: 50%;
    border: 1px solid #f3f4f4;
    border-top: 0 none;
}

.msax-shoppingcartsummary, .msax-EstimatedTotalSummary {
    text-align: right;
    padding: 8px;
    float: right;
}

.msax-shoppingcartsummary div, .msax-EstimatedTotalSummary  div{
    text-align: right;
    padding: 3px;
}

.msax-shoppingcartsummary:first-child,.msax-EstimatedTotalSummary:first-child {
    padding: 15px;
}





.msax-PromotionCodeTextBox {
    background-color: rgb(247, 247, 247);
    border-color: rgb(236, 236, 236);
}

.msax-ApplyPromotionCodeBlock button {
    background-color: rgb(100, 99, 104);
    border: 0 transparent;
    color: #ffffff;
    text-decoration: none;
    text-transform: capitalize;
}

.msax-QuantityContent {
    width: 140px;
}
.msax-ApplyPromotionCodeBlock, .msax-QuantityContent{
    list-style: none;
    padding: 0;
    margin: 0;
}

.msax-ApplyPromotionCodeBlock {
    position: relative;
}

.msax-ApplyPromotionCodeBlock li, .msax-QuantityContent li {
    float: left;
    text-align: left;
    padding: 0;
    margin: 0;
}

/*.msax-PromotionCodeWrapper {
    padding: 14px;
}*/

.msax-ShippingInfo {
    font-size: large;
}

.msax-AFMVendorName {
    color: #0066CC;
    font-weight: bold;
}

/*Popup Styles by muthait dated 07/16/2014 */

#toPopup {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid rgb(0, 88, 147);
    border-radius: 1px 1px 1px 1px;
    color: #333333;
    display: none;
	font-size: 14px;
    left: 50%;
    margin-left: -402px;
    position: fixed;
    top: 20%;
    width:400px;
    min-height:200px;
    z-index: 2;
}
div.close {
    background: url('/<%=WebResource("AFM.Ecommerce.Controls.Common.Images.closebox.png")%>') no-repeat scroll 0 0 transparent;
    bottom: 15px;
    cursor: pointer;
    float: right;
    height: 30px;
    left: 15px;
    position: relative;
    width: 30px;
}
span.ecs_tooltip {
    background: none repeat scroll 0 0 #000000;
    border-radius: 1px 1px 1px 1px;
    color: #FFFFFF;
    display: none;
    font-size: 11px;
    height: 16px;
    opacity: 0.7;
    padding: 4px 3px 0 5px;
    position: absolute;
    right: -20px;
    text-align: center;
    top: -40px;
    width: 70px;
}
span.arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid #000000;
    display: block;
    height: 1px;
    left: 40px;
    position: relative;
    top: 0;
    width: 1px;
}
div#popup_content {
    margin: 4px 7px;
	max-height: 300px;
	overflow:auto;
}

.msax-UpdateZipCode{
    list-style:none;
}

.msax-UpdateZipCode li{
    float:left;
    padding-left:5px;
}


/*
//NE Developed by muthait for AFM_TFS_40686 dated 07/02/2014
*/