﻿/*
    NS by muthait dated 11Sep2014

*/

.msax-Control {
    font-size: large;
    font-family: "Segoe UI";
    width: 100%;
}

    .msax-Control * {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .msax-Control h5 {
        background-color: rgb(0, 88, 147);
        text-transform: uppercase;
        vertical-align: middle;
        font-size: large;
        padding: 10px;
        text-align: left;
        color: #ffffff;
        font-weight: normal;
    }

    .msax-Control h4 {
        background-color: rgb(0, 88, 147);
        text-transform: none;
        vertical-align: middle;
        font-size: x-large;
        margin-bottom: 20px;
        margin-top: 30px;
        text-align: left;
        color: #272727;
        font-weight: normal;
    }


.msax-DisplayNone {
    display: none;
}

.msax-Control .msax-AlignRight {
    text-align: right;
}

.msax-Control .msax-AlignCenter {
    text-align: center;
}

.msax-Control .msax-SecondaryColor {
    color: #999999;
}

.msax-Control .msax-HighlightColor {
    color: #ff0000;
    font-size: large;
}

.msax-Control .msax-HighlightBlue {
    color: #257EE2;
}

.msax-HighlightRedOnError {
    color: red !important;
}

.msax-Control input,
.msax-Control select {
    height: 40px;
    border: 1px solid #90989F;
    background: url("/images/input_bg.png") repeat-x scroll 0 0 transparent;
    background: #eeeeee;
    font-size: large;
    font-family: "Segoe UI";
    width: 100%;
}

.msax-Control input {
    /* padding: 2px 7px;*/
}

.msax-Control select {
    /* padding-left: 7px; */
}

    .msax-Control input:focus,
    .msax-Control select:focus {
        border: 1px solid #257EE2;
        box-shadow: 0px 0px 3px 0px #CCC;
    }

    .msax-Control input[msax-isValid=false],
    .msax-Control select[msax-isValid=false],
    .msax-Control .msax-FieldPanel label[msax-isValid=false] {
        border-color: red;
        background: #F8D4D4;
    }

.msax-Control input[type=radio],
.msax-Control input[type=radio]:focus,
.msax-Control input[type=checkbox],
.msax-Control input[type=checkbox]:focus {
    background: none;
    height: 16px;
    width: 16px;
    box-shadow: none;
    border: none;
    margin-top: 4px;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.msax-Control .msax-FieldPanel {
    margin-bottom: 5px;
    margin-top: 3px;
}

    .msax-Control .msax-FieldPanel > * {
        width: 100%;
    }

    .msax-Control .msax-FieldPanel > input[type=radio],
    .msax-Control .msax-FieldPanel > input[type=checkbox] {
        width: 16px;
        float: left;
    }

    .msax-Control .msax-FieldPanel label {
        border: solid 1px #fff; /* keep 1 px border placeholder for validation error on radio/checkbox styles */
        background: none;
        padding: 0px;
    }

.msax-Control a {
    color: #0066CC;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

    .msax-Control a:hover {
        text-decoration: underline;
    }
/*CS Developed by muthait for AFM_TFS_40686 dated 06/26/2014*/
.msax-Control button {
    cursor: pointer;
    outline-style: none;
    margin: 0;
    color: #fff;
    font-size: x-large;
    text-decoration: none;
    /*CS Developed by muthait for AFM_TFS_40686 dated 06/26/2014*/
    /*background: url('/<%=WebResource("AFM.Ecommerce.Controls.Common.Images.btn_lrg_bl_bg.png")%>') repeat-x scroll 0 0;
        border: solid 1px #257EE2;
        border-bottom: none;
        border-top: none;*/
    border: none;
    padding: 3px 15px 0px 15px;
    height: 40px;
    text-align: center;
    min-width: 100px;
    background: #b22222;
}
    /*CS Developed by muthait for AFM_TFS_40686 dated 06/26/2014*/
    .msax-Control button.msax-ContinueShoppingButton {
        padding: 5px 6px 6px 6px;
        background: #ffffff;
        border: 2px solid #b22222;
        color: #000000;
    }

    /*CS Developed by muthait for AFM_TFS_40686 dated 06/26/2014*/
    .msax-Control button.msax-CheckoutButton > span {
        /*background: url('/<%=WebResource("AFM.Ecommerce.Controls.Common.Images.btn_i_forward_lrg.png")%>') no-repeat 70px 0;*/
        width: auto;
        height: 26px;
        text-align: left;
        padding-top: 4px;
        padding-bottom: 4px;
    }

    .msax-Control button.msax-ArrowLeft16,
    .msax-Control button.msax-Delete16,
    .msax-Control button.msax-Minus16,
    .msax-Control button.msax-Plus16,
    .msax-Control button.msax-Edit19 {
        padding: 0;
        /*padding-left: 16px;*/ /*CS Developed by muthait for AFM_TFS_40686 dated 06/26/2014*/
        min-width: 16px;
        background-color: transparent;
        border: 0 none transparent;
        font-size: 11px;
        text-decoration: none;
        color: #0066CC;
    }


        .msax-Control button.msax-ArrowLeft16:hover,
        .msax-Control button.msax-Delete16:hover,
        .msax-Control button.msax-Minus16:hover,
        .msax-Control button.msax-Plus16:hover,
        .msax-Control button.msax-Edit19:hover {
            text-decoration: underline;
        }

    .msax-Control button.msax-WithText2 {
        /*padding-left: 21px;*/ /*CS Developed by muthait for AFM_TFS_40686 dated 06/26/2014*/
        font-size: large;
    }

    .msax-Control button.msax-WithText {
        padding-left: 21px;
        font-size: large;
    }

    .msax-Control button.msax-ArrowLeft16 {
        background: url("/images/i_Arrow_Left_16_on.png") no-repeat 0 0;
    }

    .msax-Control button.msax-Minus16 {
        background: url("/images/i_Minus_16_on.png") no-repeat center;
    }

    .msax-Control button.msax-Plus16 {
        background: url("/images/i_Plus_16_on.png") no-repeat center;
    }
    .msax-Control button.msax-Edit19 {
        background: url("/images/i_edit_19_on.png") no-repeat center;
    }

/* Div layout */
.msax-Control .msax-Row {
    display: table-row;
    width: 100%;
    vertical-align: top;
}

    .msax-Control .msax-Row > * {
        display: table-cell;
        vertical-align: top;
    }

.msax-Control .msax-MarginRight10 {
    margin-right: 10px;
}

.msax-Control .msax-PaddingTop10 {
    padding-top: 10px;
}

.msax-Control .msax-PaddingTop20 {
    padding-top: 20px;
}

.msax-Control .msax-PaddingBottom15 {
    padding-bottom: 15px;
}

.msax-Control .msax-PaddingRight10 {
    padding-right: 10px;
}

.msax-Control .msax-PaddingRight20 {
    padding-right: 20px;
}

.msax-Control .msax-PaddingRight25 {
    padding-right: 25px;
}

.msax-Control .msax-PaddingLeft10 {
    padding-left: 10px;
}

.msax-Control .msax-PaddingLeft20 {
    padding-left: 20px;
}

.msax-Control .msax-PaddingLeft250 {
    padding-left: 250px;
    height: 90px;
}

.msax-Control .msax-PaddingLeft25 {
    padding-left: 25px;
}

.msax-Control .msax-WidthRatio25 {
    width: 25%;
}

.msax-Control .msax-WidthRatio50 {
    width: 50%;
}

.msax-Control .msax-WidthRatio75 {
    width: 75%;
}

.msax-Control .msax-WidthRatio100 {
    width: 100%;
}

.msax-Control progress.indeterminateWait {
    position: absolute;
    z-index: 1000;
    top: 10%;
    left: 40%;
    color: #5D5D5E;
}

.msax-ErrorPanel {
    border-style: solid;
    border-width: 1px;
    margin-bottom: 4px;
    padding: 8px 14px;
    line-height: 18px;
    background-color: rgb(240, 65, 36);
    border-color: #F5A6A7;
    //border-radius: 5px;
    font-size: small;
    color: #ffffff;
    position:relative;
}



/* Fix for 70570 HXM - Update Zip Code shows same error message as View Cart page - Start*/
.msax-UpdateZipErrorPanel {
    border-style: solid;
    border-width: 1px;
    margin-bottom: 4px;
    padding: 5px 14px;
    line-height: 18px;
    background-color: #F8D4D4;
    border-color: #F5A6A7;
    border-radius: 5px;
    font-size: small;
}
.msax-ErrorPanel span
{
   margin-left:10px;
}
/* End */

.msax-Error {
    background-color: rgb(240, 65, 36);
    border-color: #F5A6A7;
    color: #ffffff;
}

.msax-Info
{
    background-color: rgb(0, 112, 149);
    border-color: rgb(3, 83, 104);
    color: #ffffff;
}

.msax-Info:before {
    content:"i";
    left:3px;
    width:16px;
    height:16px;
    margin-top:0px;
    font-size:14px;
    font-weight:bold;
    font-style:italic;
    line-height:15px;
    text-align:center;
    color:rgb(0, 112, 149);
    background:rgb(255,255,255);
    /* css3 */
    -webkit-border-radius:16px;
    -moz-border-radius:16px;
    border-radius:16px;
    position:absolute;
    margin-right:5px;
}

.msax-Control h4 {
    background: none;
}



/* Promotion banner */
.msax-Control .msax-PromotionBanner {
    background: url("/images/banner_burst.png") no-repeat 10px center #7BA1EA;
    border: #0066CC;
    border-radius: 5px;
    color: white;
    line-height: 22px;
}

.msax-FloatRight {
    float: right;
    padding-top: 6px;
}

.msax-Control .msax-TableCell {
    display: table-cell;
}

.ui-dialog .ui-dialog-buttonpane {
    margin-top: 0px;
}

.msax-HyperlinkText {
    color:blue;
    text-decoration:underline;
}



