﻿/*
    NS by muthait dated 11Sep2014

*/
.msax-EditAddress
{
    display: table;
    width: 100%;
}
.msax-EditAddress .msax-ShipTo
{
    font-size: x-large;
    padding-left:16px;
    /* Changed by AxL for winter release UI change on 08/12/2015*/
    /*padding-bottom:12px;*/
    /*border-bottom:1px solid #ededed;*/
    color:#045a95;
}

.msax-EditAddress .msax_OrderTo {
    font-size: xx-large;
    padding-left:16px;
    padding-top: 10px;
    padding-bottom: 4px;
    color:#383838;
}
.msax-EditAddress .msax-ShipTo > span :last-child
{
    font-weight: bold;
}
.msax-EditAddress > .msax-AddressView > div
{
    display: table-cell;
    padding-right:30px;
    position: relative;
}
.msax-EditAddress > .msax-AddressView > div > header,
.msax-EditAddress > .msax-AddressView > div > .msax-ShippingMethod > header
{
    display:table;
    font-size:large;
    padding:8px;
}

.msax-EditAddress section 
{
    display: table;
    padding-left:16px;    
    padding-bottom:16px;
}

.msax-EditAddress > .msax-AddressView  > div > header > span,
.msax-EditAddress > .msax-AddressView > div > .msax-ShippingMethod > header > span
{
    padding-left:8px;    
    font-weight: bold;
}
.msax-EditAddress > .msax-AddressView > div > header > span:nth-child(2)
{    
    color:#045a95;
    cursor: pointer;
}

/*NS - AxL - menuitem changes - winter release*/
.msax-BillingEmail{
    font-size:large;
    padding-left:16px;
    padding-bottom:12px;
    border-bottom:1px solid #ededed;
    color:#045a95;
}
/* NS - AxL - menuitem changes - winter release*/