﻿/*
    NS by muthait dated 11Sep2014

*/
.msax-OrderSummary
{
    display:table;   
}
.msax-OrderSummary div:first-child
{
    background: rgb(233,233,233);
    font-size: large;
    padding:10px 0 10px 15px;
    font-weight: bold;
    
}
.msax-OrderSummary div:last-child
{
    border:2px solid rgb(243,243,243);
}

.msax-OrderSummary div:last-child span table
{
    text-align: right;
}
.msax-OrderSummary div:last-child span table td
{
    padding:2px 10px 2px 10px;
}
.msax-OrderSummary div:last-child span table td:first-child
{
    min-width:240px;
}
.msax-OrderSummary div:last-child span table .msax-SubTotal td
{ 
    font-size:large;
    padding-bottom: 8px;
    padding-top:20px;
}
.msax-OrderSummary div:last-child span table .msax-Tax td
{ 
    padding-bottom: 8px;
}
.msax-OrderSummary div:last-child span table .msax-Total td
{
    font-size:large;
    padding:20px 10px 30px 10px;
    font-weight: bold;    
    border-top:1px solid rgb(243,243,243);
}

/* NS - AxL - UI changes - winter release */
.msax-SecureCheckout{
    font-size:small;
}

.msax-SecureCheckout > span{
    font-weight:bold;
}

.msax-SecureCheckout img{
    height:20px;
    width:20px;
}
/* NE - AxL - UI changes - winter release */