﻿/*
    NS by muthait dated 14Sep2014

*/
.msax-PromotionCode
{
    display: table;
    width: 100%;
}

.msax-PromotionCode > div{
    display:table-row;
}

.msax-Promocodeitem button{
    width:16px;
    height:16px;
    background:transparent url("/images/i_Delete_16_on.png") no-repeat center;
}

.msax-Promocodeitem button:first-child{
    background: url("/images/applypromocode.png") no-repeat center;
    width: 25px;
    height: 25px;
    cursor: pointer;
    padding: 0px;
    margin: 0px 4px 0px 4px;
    min-width: 25px;
}

.msax-Promocodeitem
{
    padding-top:5px;
    color:#2d750a;
    font-size:large;
}
.msax-Promocodeitem div
{
    display:inline;
}

.msax-PromotionCodes
{
    padding-top:5px;
}

.msax-PromotionCodeStatus
{
    color:blue;
} 
.msax-PromotionCodeStatus button
{   
    width: 25px;
    height: 25px;
    cursor:pointer;
    padding: 0px;
    margin: 0px 4px 0px 4px;
    min-width: 25px;
}

#toPopup1 {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid rgb(0, 88, 147);
    border-radius: 1px 1px 1px 1px;
    color: #333333;
    display: none;
	font-size: 14px;
    left: 50%;
    margin-left: -402px;
    position: fixed;
    top: 20%;
    width:400px;
    min-height:250px;
    z-index: 2;
}
div.close {
    background: url('/images/closebox.png') no-repeat scroll 0 0 transparent;
    bottom: 15px;
    cursor: pointer;
    float: right;
    height: 30px;
    left: 15px;
    position: relative;
    width: 30px;
}
span.ecs_tooltip {
    background: none repeat scroll 0 0 #000000;
    border-radius: 1px 1px 1px 1px;
    color: #FFFFFF;
    display: none;
    font-size: 11px;
    height: 20px;
    opacity: 0.7;
    padding: 4px 3px 0 5px;
    position: absolute;
    right: -20px;
    text-align: center;
    top: -44px;
    width: 70px;
}
span.arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid #000000;
    display: block;
    height: 1px;
    left: 40px;
    position: relative;
    top: 0;
    width: 1px;
}
div#popup_content {
    margin: 4px 7px;
	max-height: 300px;
	overflow:auto;
}

.msax-PromotionCodeText{
    cursor:pointer;
}
.msax-RequiredError{
    border-color: red !important;
}
.msax-promoError{
    color: red;
    font-family: arial;
    font-size: .69em;
    line-height: 1rem !important;
    font-weight: normal;
    display: inline;
    clear: both;
    margin-top: 6px;
}