﻿.msax-RsaId {
    display: table;
    width: 100%;
}

    .msax-RsaId > div {
        display: table-row;
    }

.msax-RsaIdBlock {
    display: inline;
}

.msax-ApplyRsaIdBlock {
    display: table-row;
    list-style: none;
}

    .msax-ApplyRsaIdBlock li {
        padding: 5px 5px 5px 5px;
        display: table-cell;
    }

.msax-RsaIdTextBox {
    display: inline;
}

.msax-ApplyRsaId {
    display: inline;
}


.msax-RsaCodeItem ul{
    display:table-row;
    list-style:none;
}

.msax-RsaCodeItem ul li{
    display:table-cell;    
}



.msax-RsaCodeItem button {
    /*width: 16px;
    height: 16px;*/
    /*background:transparent url("/images/i_Delete_16_on.png") no-repeat center;*/
}
.msax-RsaIdTextBox
{
    width:auto;
    min-width:50px;
}

.msax-RsaCodeInput div
{
      display:inline
}

    .msax-RsaCodeItem button:first-child {
    background: url("/images/applypromocode.png") no-repeat center;
    width: 25px;
    height: 25px;
    cursor: pointer;
    padding: 0px;
    margin: 0px 4px 0px 4px;
    min-width: 25px;
}

.msax-RsaCodeItem {
    padding-top: 5px;
    padding-bottom:24px;
    color: #2d750a;
    font-size: large;
}

 .msax-RsaIdTextBox input{
    width: auto;
}

.msax-RsaCodeItem >div
{
    display:inline;
}

.msax-RsaCodes {
    padding-top: 5px;
}

.msax-RsaCodeText {
    width: auto;
    text-transform: uppercase;
}
.msax-RequiredError{
    border-color: red !important;
}
.msax-divError2{
    color: red;
    font-family: arial;
    font-size: .69em;
    line-height: 1rem !important;
    font-weight: normal;
    display: inline;
    clear: both;
    margin-top: 6px;
}