﻿/*
    NS by muthait dated 11Sep2014

*/
.msax-ShoppingCart
{
    width: 100%;
}

 .msax-ShoppingCart .msax-ButtonSection {
        text-align: center;
        margin-top: 20px;
        clear: both;
        text-align: right;
    }


    .msax-ShoppingCart table {
        color: #272727;
        border-spacing: 0;
        border-collapse: collapse;
        border: 0;
        width: 100%;
    }

        .msax-ShoppingCart table th,
        .msax-ShoppingCart table td {
            padding: 0;
            margin: 0;
        }

    .msax-ShoppingCart .msax-ItemsGrid {
        border: 1px solid #f3f4f4;
    }
    
        .msax-ShoppingCart .msax-ItemsGrid > thead > tr > th, .msax-PromotionCodeWrapper thead > tr > th {
            background-color: rgb(0, 88, 147);
            text-transform: capitalize;
            vertical-align: middle;
            font-size: large;
            padding: 10px;
            text-align: left;
            color: #ffffff;
            font-weight: bold;
        }

.msax-PromotionCodeWrapper thead > tr > th {
    padding: 0;
}

        .msax-ShoppingCart .msax-ItemsGrid > tbody > tr > td {
            vertical-align: top;
            padding: 10px;
        }

        .msax-ShoppingCart .msax-ItemsGrid tr > *:first-child {
            padding-left: 20px;
        }

        .msax-ShoppingCart .msax-ItemsGrid tr > *:last-child {
            padding-right: 12px;
        }

        .msax-ShoppingCart .msax-ItemsGrid tr.msax-ProductDetails {
            border-top: solid 1px #F3F4F4;
            border-bottom: solid 1px #F3F4F4;
        }

        .msax-ShoppingCart .msax-ItemsGrid .msax-ProductDetails {
            /* NS - AxL - UI changes - winter release */
            /*width: 55%;*/
            width: 45%;
            /* NE - AxL - UI changes - winter release */
        }

            .msax-ShoppingCart .msax-ItemsGrid .msax-ProductDetails .msax-ProductImage {
                min-width: 140px;
                min-height: 140px;
                display: block;
                background-image: url('/<%=WebResource("AFM.Ecommerce.Controls.Common.Images.product_sm_cart_placeholder.png")%>');
                -webkit-background-size: cover;
                -moz-background-size: cover;
                background-size: cover;
            }

            .msax-ShoppingCart .msax-ItemsGrid .msax-ProductDetails button.msax-Delete16 {
               /* margin-top: 10px;*/
            }

        .msax-ShoppingCart .msax-ItemsGrid .msax-Price {
            width: 20%;
            text-align: center;
        }

        .msax-ShoppingCart .msax-ItemsGrid .msax-ShippingInfo {
            width: 30%;
            text-align: left;
        }

        .msax-ShoppingCart .msax-ItemsGrid .msax-Quantity {
            width: 10%;
            text-align: center;
        }

            .msax-ShoppingCart .msax-ItemsGrid .msax-Quantity input {
                width: 50px;
                text-align: center;
                margin: 0 10px;
            }

            .msax-ShoppingCart .msax-ItemsGrid .msax-Quantity button {
                vertical-align: middle;
            }

        .msax-ShoppingCart .msax-ItemsGrid .msax-Total {
            /* NS - AxL - UI changes - winter release */
            /*width: 10%;*/
            width: 30%;
            /* NE - AxL - UI changes - winter release */
            text-align: right;
        }

            .msax-ShoppingCart .msax-ItemsGrid .msax-Total .msax-LineDiscount {
                color: #ff0000;
            }

        .msax-ShoppingCart .msax-ItemsGrid tr.msax-KitComponents > *:first-child, .msax-Checkout .msax-ItemsGrid tr.msax-NoOfComponentsInKit > *:first-child {
            padding-left: 60px;
        }

        .msax-ShoppingCart .msax-ItemsGrid tr.msax-KitComponents > *:last-child {
            padding-right: 10px;
        }

    .msax-ShoppingCart .msax-PromotionCodeWrapper .msax-PromotionCodes *, .msax-ApplyPromotionCodeBlock *, .msax-PromotionCodesEmpty * {
        padding: 10px 0 10px 0;
        margin-bottom: 0px;
    }

    .msax-ShoppingCart .msax-PromotionCodeWrapper .msax-PromotionCodes tr > td > *:first-child {
        padding-left: 50px;
    }

    .msax-ShoppingCart .msax-PromotionCodeWrapper .msax-ApplyPromotionCodeBlock {
        padding-top: 10px;
    }

        .msax-ShoppingCart .msax-PromotionCodeWrapper .msax-ApplyPromotionCodeBlock > *:first-child {
            margin-left: 20px;
        }

    .msax-ShoppingCart .msax-PromotionCodeWrapper .msax-PromotionCodesEmpty * {
        padding-left: 20px;
    }

    .msax-ShoppingCart .msax-PromotionCodeWrapper .msax-PromotionCodes .msax-Remove {
        background: url('/<%=WebResource("AFM.Ecommerce.Controls.Common.Images.i_Delete_16_on.png")%>') no-repeat center;
    }

        .msax-ShoppingCart .msax-Review .msax-ItemsGrid .msax-ProductDetails {
            width: 45%;
        }

        .msax-ShoppingCart .msax-Review .msax-ItemsGrid .msax-ShippingMethod {
            width: 15%;
            text-align: center;
        }

    .msax-ShoppingCart .msax-ShoppingCartSummary {
        width: 260px;
        float: right;
    }

        .msax-ShoppingCart .msax-ShoppingCartSummary div {
            text-align: right;
        }

        .msax-ShoppingCart .msax-ShoppingCartSummary > div > div {
            
        }

        .msax-ShoppingCart .msax-ShoppingCartSummary > div > div > div:first-child {
            width: 160px;
            padding-bottom: 15px;
        }

        .msax-ShoppingCart .msax-ShoppingCartSummary > div > div > div:last-child {
            width: 80px;
        }
        
        .msax-ShoppingCart .msax-ShoppingCartSummary .msax-GrandTotal div {
            margin-top: 15px;
        }        


/* NS by muthait */

.msax-ShoppingCart 
.msax-OrderSummary {
    border:1px solid #f3f4f4;
}

.msax-ShoppingCart  .msax-CartArea h2 {
    text-transform: uppercase;
    font-weight: normal;
    text-decoration: none;
    font-size: x-large;
}

.msax-ShoppingCart .msax-CartButtonFloat {
    position: relative;
    float: right;
}

.msax-ShoppingCart .msax-zipcodestatus {
    background-color: rgb(242, 250, 252);
    width: 100%;
    padding-top: 8px;
    padding-left: 5px;
    padding-bottom: 7px;
    margin-bottom: 6px;
}

.msax-ShoppingCart .msax-ProductQuickLink {
    text-align: right;
    width: 60%;
    border-top: 1px solid #ebebeb;
    padding-top: 8px;
    padding-right: 20px;
}

.msax-ShoppingCart .msax-DiscountTotal {
    margin-top: -10px;
    padding-right: 20px;
    padding-bottom: 15px;
}



.msax-ShoppingCart .msax-ItemPrice {
    text-decoration: line-through;
    display:inline-block;
}


.msax-PromotionCodeTextBox {
    background-color: rgb(247, 247, 247);
    border-color: rgb(236, 236, 236);
}

.msax-ApplyPromotionCodeBlock button {
    background-color: rgb(100, 99, 104);
    border: 0 transparent;
    color: #ffffff;
    text-decoration: none;
    text-transform: capitalize;
}

.msax-QuantityContent {
    width: 140px;
}
.msax-ApplyPromotionCodeBlock, .msax-QuantityContent{
    list-style: none;
    padding: 0;
    margin: 0;
}

.msax-ApplyPromotionCodeBlock {
    position: relative;
}

.msax-ApplyPromotionCodeBlock li, .msax-QuantityContent li {
    float: left;
    text-align: left;
    padding: 0;
    margin: 0;
}


.msax-ShippingInfo {
    font-size: large;
}

.msax-AFMVendorName {
    color: #0066CC;
    font-weight: bold;
}

        .msax-ShoppingCart .msax-ItemsGrid  .msax-BorderTop1 {
            border-top: solid 1px #ebebeb;
        }



.msax-KitComponents .msax-KitChild hr 
{ 
    display: block;
    height: 1px;
    border: 0; 
    border-top: 1px solid #ebebeb;
    margin: 0 0 15px 0px; padding: 0;
}

.msax-KitComponents .msax-KitChild .msax-ProductNameWrapper
{
    /*width: 52%;*/
    width: 40%;
    float: left;
}

.msax-KitComponents .msax-KitChild .msax-KitComponentPrice
{
    width: 22%;
    padding-top:30px;
    float: left;
    text-align: right;
    padding-left:40px;
}
.msax-KitComponents .msax-KitChild .msax-KitComponentPrice>div,.msax-KitComponents .msax-KitChild .msax-KitComponentQuantity>div{
    /*display:table-cell;*/
}

/* NS Css Modified By Ashish For Bug No. No 80757 Safari Mobile Browser Issue */
.msax-KitComponents .msax-KitChild .msax-KitComponentQuantity
{
    width: 9%;
    padding-top:30px;
    float: left;
    text-align: center;
    /*padding-left:130px;*/
}

/* NS Css Added By Ashish For Bug. No 80757 Safari Mobile Browser Issue */

.show-for-large-up
{
    visibility:visible !important;
}

/* NS Css Added By Ashish For Bug. No 80757 Safari Mobile Browser Issue */

.show-for-small-only
{
    visibility:hidden !important; 
    /*width: 19%;
    float:right;
    padding-top:30px;   
    text-align: right;
    padding-right:40px;*/
}
.msax-HideLabel
{
    display:none;
}

.msax-ItemHeader{
    width:180px;
}

.msax-KitComponents .msax-KitChild .msax-KitComponentQtyReview
{
    width: 28%;
    padding-top:30px;
    float: left;
    text-align: left;
    padding-left:40px;
}

/* Bug fix - 110078*/
.msax-PriceBlock{
    text-align: right;
}

.msax-LabelEach{
    display: inline-block;
}

.msax-ItemPriceData{
    display: inline-block;
}
/* Bug 108478 : New CSS for synchrony move to wishlist and remove button disable*/
.msax-DisableOnPayment{
            opacity: 0.3 !important;
            color:grey !important;
}
.msax-DisableOnPayment:hover{
            text-decoration: none !important;
            cursor: default !important;
}
/* New CSS for synchrony move to wishlist and remove button disable*/