﻿@using Microsoft.Dynamics.Retail.Ecommerce.Sdk.Controls

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Checkout</title>
    <script type="text/javascript" src="../../../../js/External/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="../../../../js/External/jquery-ui-1.10.3.js"></script>
    <script type="text/javascript" src="../../../../js/External/knockout-2.2.1.js"></script>
    <link rel="stylesheet" href="../../../../css/External/jquery-ui-1.10.3.css" type="text/css" />
    <link rel="stylesheet" href="../../../../css/MasterStyles.css" type="text/css" />

    @Html.CheckoutControlHeader("/Pages/Checkout/OrderConfirmation.aspx", false, false)
</head>
<body>
    <a class="msax-PaddingRight5" href="/Pages/ProductGallery/ProductGallery.aspx">Continue Shopping</a>

    @Html.CheckoutControl(false)

</body>
</html>